:root {
    --background-color: #f6f9fa;
    --section-color: #ffffff;
    --text-color: #1a1a1a;
    --primary-color: #0099ff;
    --secondary-color: #b2c0c6;
    --secondary-color-light: #e1e9ec;
    --terciary-color: #2a363b;
    --shadow-color: #1a1a1a10;

    --start-point-color: #2cad7a;
    --end-point-color: #e5383b;
    --barrier-color: #2a363b;
    --evaluating-color: #fca311;
    --evaluated-color: #ff70a6;
    --path-color: #00ccff;

    --hover-action-color: var(--secondary-color-light);
}

body * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}



h1 {
    text-align: center;
    margin: 3rem auto;
    background-color: var(--section-color);
    box-shadow: 0 0.5rem 0.75rem 0.25rem var(--shadow-color);
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 80vw;
    padding: 1.5rem;
}

#algorithm-section {
    background-color: var(--section-color);
    box-shadow: 0 0.5rem 0.75rem 0.25rem var(--shadow-color);
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 80vw;
    padding: 1.5rem;
    margin: 0 auto 3rem auto;
}

#controls {
    margin: 0.5rem 0 1rem 0;
}

#controls div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#controls div:last-child {
    margin-bottom: 0;
}

#controls span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
}
.controls-left {
    justify-content: flex-start;
}
.controls-left button {
    margin-right: 1rem;
}
.controls-right {
    justify-content: flex-end;
}
.controls-right button {
    margin-left: 1rem;
}

#controls label {
    margin: 0 0.5rem 1rem 0;
    font-weight: 600;
}

#controls input {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0 1.5rem 1rem 0;
    width: 5rem;
    border: none;
    border-bottom: 0.2rem solid var(--primary-color);
    background-color: var(--background-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
}

#controls button {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--section-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: .15s ease-in-out;
}
#controls button:disabled {
    background-color: var(--secondary-color-light) !important;
}
#controls button > i {
    margin-left: 0.25rem;
    color: var(--section-color);
    transition: .15s ease-in-out;
}

#controls button:enabled:hover {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    box-shadow: 0 0.25rem 0.75rem #1a1a1a40;
}
#controls button:enabled:hover i {
    color: var(--text-color);
}

#start-point-button {
    background-color: var(--start-point-color) !important;
}
#end-point-button {
    background-color: var(--end-point-color) !important;
}
#barrier-button {
    background-color: var(--barrier-color) !important;
}



#grid {
    display: grid;
}

.tile {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.tile:hover {
    background-color: var(--hover-action-color) !important;
}



#tooltip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    min-width: max-content;
    background-color: var(--terciary-color);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    opacity: 0;
    z-index: 2;
    transition: .25s ease-in-out;
}
#tooltip p {
    color: var(--background-color);
    font-weight: 600;
    text-align: center;
}
#tooltip:after {
    content: '';
    display: block;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-color: transparent transparent var(--terciary-color) transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 10px;
}

#tooltip-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: unset;
    z-index: 1;
}





*:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}